<div class="contactBody">
    <h1>Info</h1>
    <div class="contactBio">
        <h6>Contact Us</h6>
        <p>Please contact us for product and pricing inquiries, services or any more info about Tech Pro. We strive to provide best customer service and assist our customers with anything related to our company.</p>
    </div>
    <div class="contactInfo">
        <p>Phone: 915-221-1234</p>
        <p>Email us at:<a href="mailto:TechPro9911@gmail.com"> TechPro9911@gmail.com</a></p>
        <p>Company address: 360 VinRambla Dr. 79912 El Paso, Texas</p>
        <p>Hours: Monday - Friday: 8AM-5PM</p>
        <p>Like us on Facebook:<a href="https://www.facebook.com/profile.php?id=61561001356346&is_tour_dismissed" target="_blank">Facebook</a></p>
    </div>
</div>