<div class="productBody">
    <h1>Our Products</h1>
    <div class="networks">
        <h3>Networks</h3>
        <div class="figures">
            <figure>
                <img src="images/product1.png" alt="small network" class="homeImg">
                <figcaption>We offer a small network that is ideal for small companies</figcaption>
            </figure>

            <figure>
                <img src="images/product2.png" alt="large network" class="homeImg"/>
                <figcaption>We offer a large network that is ideal for large companies</figcaption>
            </figure>
        </div>
    </div>
    <div class="equipment">
        <h3>Equipment</h3>
        <div class="figures">
            <figure>
                <img src="images/routerProduct.jpeg" alt="small network" class="homeImg">
                <figcaption>We sell Routers which are included in the packages.</figcaption>
            </figure>

            <figure>
                <img src="images/switchProduct.png" alt="large network" class="homeImg"/>
                <figcaption>We sell 48 port switches that are included in the packages.</figcaption>
            </figure>
            <figure>
                <img src="images/switch24Product.jpg" alt="large network" class="homeImg"/>
                <figcaption>We also sell 24 port switches that are included in the packages as optional.</figcaption>
            </figure>
            <figure>
                <img src="images/apProduct.jpg" alt="large network" class="homeImg"/>
                <figcaption>Acesspoints are also for sale.</figcaption>
            </figure>
            <figure>
                <img src="images/cablingProduct.jpg" alt="large network" class="homeImg"/>
                <figcaption>Cabling is included in the packages as well.</figcaption>
            </figure>
            <figure>
                <img src="images/rackProduct.webp" alt="large network" class="homeImg"/>
                <figcaption>Racks are for sale and included in the packages.</figcaption>
            </figure>
        </div>
    </div>
</div>