@{
    ViewData["Title"] = "About";
}
<div class="aboutBody">
    <h1>About Us</h1>
    <img src="images/infoImage.jpg" alt="Information Tech image" class="homeImg left"/>
    <img src="images/aboutImage2.jpg" alt="Information Tech image" class="homeImg right"/>
    <div class="info">
        <div class="aboutInfo">
            <h3>Our Mission</h3>
            <p>Providing the best quality network for a reasonable price to the public is our goal. We want our customers to be satisfied with our product and also not to worry about breaking the bank. It is our mission to provide a reliable network and have satisfactory customers at the end of every transaction.</p>
        </div>
        <div class="aboutInfo">
            <h3>What we do</h3>
            <p>Tech Pro provides reliable networks to either a small business or even large ones, depending on our network package requirements. Products are not only what we sell, as we also sell services as well which include cabling, upgrades, monitoring and even more!</p>
        </div>
        <div class="aboutInfo">
            <h3>Our history</h3>
            <p>Tech Pros started as just a group of college students who had a brilliant idea. The founders combined their knowledge and skills to create a company what is now Tech Pro. Now Tech Pro aims to be number 1 network distributor in the nation.</p>
        </div>
    </div>
</div>