<div class="servicesBody">
    <h1>Services</h1>
    <p>Services are included in package</p>
    <div class="figures">
        <figure>
            <img src="images/installation.jpg" alt="installation service" class="homeImg">
            <figcaption>We offer installation services</figcaption>
        </figure>
        <figure>
            <img src="images/cablingProduct.jpg" alt="cabling services" class="homeImg"/>
            <figcaption>We can do cable installation.</figcaption>
        </figure>
        <figure>
            <img src="images/upgrade.jpeg" alt="Tech upgrades" class="homeImg"/>
            <figcaption>One of our services is technology upgrades.</figcaption>
        </figure>
        <figure>
            <img src="images/maintenance.jpg" alt="Maintenance services" class="homeImg"/>
            <figcaption>Maintenance/Warranty services.</figcaption>
        </figure>
        <figure>
            <img src="images/monitoring.webp" alt="Monitoring services" class="homeImg"/>
            <figcaption>We also have monitoring services. Which is part of maintenance and warranty service.</figcaption>
        </figure>
    </div>
</div>