<div class="servicesBody">
    <h1>Services</h1>
    <p>Services are included in package</p>
    <div class="figures">
        <figure>
            <img src="images/installation.jpg" alt="installation service" class="homeImg">
            <figcaption>We offer installation services</figcaption>
        </figure>
        <figure>
            <img src="images/cablingProduct.jpg" alt="cabling services" class="homeImg"/>
            <figcaption>We can do cable installation.</figcaption>
        </figure>
        <figure>
            <img src="images/upgrade.jpeg" alt="Tech upgrades" class="homeImg"/>
            <figcaption>One of our services is technology upgrades.</figcaption>
        </figure>
        <form method="post" asp-action="CartAction" asp-controller="Product">
        <figure>
            <img src="images/maintenance.jpg" alt="Maintenance services" class="homeImg"/>
            <figcaption>Maintenance/Warranty services.</figcaption>
            <button type="submit" class="btn btn-primary">Add to cart</button>
        </figure>
        </form>
        <figure>
            <img src="images/consultation.jpg" alt="Monitoring services" class="homeImg"/>
            <figcaption>We offer a consultation plan.</figcaption>
        </figure>
    </div>
</div>