html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.homeBody {
  background-color: black;
  color: rgba(0,140,186,1);
}

.logo {
  border-radius: 90px;
  border: solid 3px black;
  height: 80px;
  width: 100px;
}

.homeBackground {
  background-image: url("homeBackground.jpg");
  background-size: contain;
  height: 150px;
  text-align: center;
  padding: 50px;
  color: white;
  font-family: fantasy;
  font-size: xxx-large;
}

.productsSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.productImg {
  height: 250px;
  border: solid rgba(0, 140, 186, 1) 10px;
  border-radius: 20px;
  margin: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}