html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: rgba(0, 140, 186, 1);
  height: 60px;
  text-align: center;
  align-content: center;
  margin-top: 15px;
}

footer a {
  color: white;
  text-decoration: underline;
}

.homeBody, .aboutBody, .contactBody, .productBody, .servicesBody {
  background-color: black;
  color: rgba(0,140,186,1);
}

.aboutBody, .contactBody, .productBody, .servicesBody {
  text-align: center;
}

.contactBody {
  margin: 150px 0 148px 0;
}

.info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.aboutBody h1, .contactBody h1, .productBody h1, .servicesBody h1 {
  margin: 30px 0 30px 0;
  color: white;

}

.aboutInfo h3 {
  color: white;
}

.aboutInfo {
  width: 900px;
  text-wrap: normal;
  margin: 30px 30px 75px 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  border-radius: 90px;
  border: solid 3px black;
  height: 80px;
  width: 100px;
}

.homeBackground {
  background-image: url("homeBackground.jpg");
  background-size: contain;
  height: 150px;
  text-align: center;
  padding: 50px;
  color: white;
  font-family: fantasy;
  font-size: xxx-large;
}

.hSection h3, .equipment h3, .networks h3{
  text-align: center;
  margin: 30px;
  border-bottom: solid 3px;
}

.imageSection, .figures {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.homeImg {
  height: 250px;
  max-width: 350px;
  border: solid rgba(0, 140, 186, 1) 10px;
  border-radius: 20px;
  margin: 15px;
}

.founders {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.founderInfo {
  width: 1000px;
  padding: 20px;
}

.founderInfo h6 {
  font-size: larger;
  font-style: italic;
}

figure {
  margin: 0 0 1rem;
  width: 400px;
  text-align: center;
}

.contactBio {
  color: white;
  font-size: larger;
  margin-top: 50px;
  text-wrap: normal;
}

.contactBio h6{
  font-size: larger;
}

.contactInfo {
  font-size: large;
  color: white;
  margin: 100px 0 239px 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}