@{
    ViewData["Title"] = "Home";
}

<div class="homeBody">
    <h1 class="homeBackground">Tech Pros</h1>
    <div class="hSection">
        <h3>Innovative products</h3>
        <div class="imageSection">
            <img src="images/placeholder.jpg" alt="product" class="homeImg"/>
            <img src="images/placeholder.jpg" alt="product" class="homeImg"/>
            <img src="images/placeholder.jpg" alt="product" class="homeImg"/>
        </div>
    </div>
    <div class="hSection">
        <h3>The Business</h3>
        <div class="imageSection">
            <img src="images/placeholder.jpg" alt="product" class="homeImg"/>
            <img src="images/placeholder.jpg" alt="product" class="homeImg"/>
            <img src="images/placeholder.jpg" alt="product" class="homeImg"/>
        </div>
    </div>
    <div class="hSection">
        <h3>Meet the team</h3>
        <div class="imageSection">
            <figure>
                <img src="images/placeholder.jpg" alt="CEO" class="homeImg">
                <figcaption> Meet Daniel - CEO of Tech Pros</figcaption>
            </figure>
            <figure>
                <img src="images/placeholder.jpg" alt="Director" class="homeImg">
                <figcaption>Meet Elias - Director of software Engineering</figcaption>
            </figure>
            <figure>
                <img src="images/placeholder.jpg" alt="Business Operations" class="homeImg">
                <figcaption>Meet Chris - Head of Business Operations</figcaption>
            </figure>
            <figure>
                <img src="images/placeholder.jpg" alt="" class="homeImg">
                <figcaption>Meet Brandon - Network Administrator</figcaption>
            </figure>
        </div>
    </div>
</div>