@{
    ViewData["Title"] = "Home";
}
<div class="homeBody">
    <h1 class="homeBackground">Tech Pro</h1>
    <div class="hSection">
        <h3>Innovative products</h3>
        <div class="imageSection">
            <figure>
                <img src="images/equipment.jpeg" alt="IT equipment" class="homeImg"/>
                <figcaption>Tech Pro has all the equipment you will need for your network.</figcaption>
            </figure>
            <figure>
                <img src="images/product2.png" alt="network" class="homeImg"/>
                <figcaption>Tech Pro has the most robust network you can buy for a small or medium size company.</figcaption>
            </figure>
            <figure>
                <img src="images/services.jpg" alt="IT services" class="homeImg"/>
                <figcaption>Tech Pro has advance techs for any type of service you need for a reasonable price.</figcaption>
            </figure>
        </div>
    </div>
    <div class="hSection">
        <h3>The Business</h3>
        <div class="imageSection">
            <figure>
                <img src="images/employees.webp" alt="office" class="homeImg"/>
                <figcaption>Tech Pro keeps their employees happy and up to date with advance equipment.</figcaption>
            </figure>
            <figure>
                <img src="images/office.webp" alt="office" class="homeImg"/>
                <figcaption>Tech Pro keeps their offices clean and up to date with advance equipment.</figcaption>
            </figure>
            <figure>
                <img src="images/lobby.jpg" alt="lobby" class="homeImg"/>
                <figcaption>Tech Pro has a enjoyable lobby where customers can relax and wait.</figcaption>
            </figure>
        </div>
    </div>
    <div class="hSection">
        <h3>Meet the team</h3>
        <ul class="founders">
            <li class="founderInfo">
                <h6>Meet Daniel - CEO of Tech Pros/Cisco Specialist</h6>
                <p>Daniel is a expert in Cyber Security and has knowledge in Cisco products</p>
            </li>
            <li class="founderInfo">
                <h6>Meet Elias - Director of Software Engineering/ Marketing management</h6>
                <p>Elias has a passion for coding which is what led him to his success as a software engineer, He also knows his way around people which is why he is good at marketing.</p>
            </li>
            <li class="founderInfo">
                <h6>Meet Chris - Head of Business Operations/ Data Analyst</h6>
                <p>Tech Pro would not be a successful business without Chris. Chris is a professional businiess expert and has vast knowledge when it comes to data.</p>
            </li>
            <li class="founderInfo">
                <h6>Meet Brandon - CFO/ Network Administrator</h6>
                <p>There would be no products without Brandon. He is the expert when it comes to networking and has years of experience.</p>
            </li>
        </ul>
    </div>
    <button class="open-button" onclick="openForm()">Chat</button>
    <div class="chat-popup" id="myForm">
        <form asp-action="#" class="form-container">
            <h1>Chat</h1>
            <label for="msg">
                <b>Message</b>
            </label>
            <textarea placeholder="Type message.." name="msg" required></textarea>
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>